
<dom-module id="bio-pdb-view">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        
    </template>
    <script>
        Polymer({
            is: 'bio-pdb-view'
        });
    </script>
</dom-module>
